In [3]:
import pandas as pd
path = '~/Desktop/UW- Internship 2020/dssg-disinfo/notebooks/data/'

In [10]:
manually_labeled_pks = pd.read_csv(path+'manually_labeled_pks.txt', header = None)

In [31]:
manually_labeled_pks

            0
0    68849667
1    17053700
2    67608582
3    17097736
4    17179145
5    66596873
6    65039371
7    65039369
8    63833618
9    63801369
10   16901659
11   17079323
12   17025053
13   16935966
14   17025057
15   16900647
16     787496
17   17025067
18   64008752
19   17186871
20   17097784
21   17161274
22   16898621
23   16898624
24   17025093
25   64589894
26   16898632
27   17025097
28   16900682
29   25414218
..        ...
120  16901038
121  17053615
122  42525616
123  69881265
124  17053622
125  17186745
126  17053628
127  16898495
128  16936385
129  16898498
130  69733317
131  69282761
132  17053645
133  68423629
134  16898515
135  16901077
136  17053653
137  17064918
138  17053656
139  67497942
140  67995613
141  16898529
142  64424418
143  16935914
144  16935918
145  17025006
146  17098740
147  16935927
148  70184441
149  66603521

[150 rows x 1 columns]

In [32]:
df_neg = pd.read_csv(path+'negative_articles_v3.csv', sep=',')
df_pos = pd.read_csv(path+'positive_articles_v3.csv', sep=',')
df = pd.concat([df_pos, df_neg], ignore_index=True)

In [38]:
df.article_pk.dtype

dtype('int64')

In [33]:
df.shape

(34450, 8)

In [34]:
#manually_labeled_pks.iloc[:,0]
#df[df.A.isin([2,3])]
#df_neg_manual = df_neg[df_neg.article_pk.isin(manually_labeled_pks.iloc[:,0])]
df_manual = df[df.article_pk.isin(manually_labeled_pks.iloc[:,0])]
# 49 in negative and 2 in positive

In [37]:
df_manual

(51, 8)

In [28]:
df_pos_manual = df_pos[df_pos.article_pk.isin(manually_labeled_pks.iloc[:,0])]

In [29]:
df_pos_manual.shape

(2, 8)

In [30]:
df_pos_manual

,article_pk,domain_pk,domain_name,article_url,label,article_headline,article_text,publish_date
5385,40220793,51,aanirfan.blogspot.co.uk,http://aanirfan.blogspot.com/search/label/Buck...,1,NaN,Aangirfan\nShowing posts with label\nBuckingha...,2020-05-04T10:27:08.091Z
11312,42333396,3874,trump.news,http://www.trump.news/2020-05-07-michael-savag...,1,Michael Savage says he won’t take any coronavi...,Michael Savage says he won’t take any coronavi...,2020-05-07T00:00:00Z

In [43]:
df_pos_manual[df_pos_manual.article_pk == 40220793].article_text

5385    Aangirfan\nShowing posts with label\nBuckingha...
Name: article_text, dtype: object

In [47]:
print(df_pos_manual.loc[5385].article_text)

Aangirfan
Showing posts with label
Buckinghamshire
.
Show all posts
Showing posts with label
Buckinghamshire
.
Show all posts
Monday, 4 May 2020
KATHLEEN FORD, TURVILLE, EPSTEIN
Kathleen Ford and Henry Ford II.
The late Henry Ford II, the grandson of Henry Ford, was married to Kathleen Ford.
Henry and Kathleen Ford lived at Turville Grange on a country estate -  49 acres in Buckinghamshire in the UK.
Former model Kathleen Ford had many guests at Turville Grange - including
Sir Evelyn de Rothschild
, Michael Caine, Liza Minnelli, Nicky Haslam and the Duchess of Marlborough.
Sir John Paul Getty's widow, Victoria, was a friend and neighbour, as were the
Sainsbury
family.
The breakdown of a motoring dynasty
Some of the above people are in Jeffrey Epstein's Black Book.
Jeffrey Epstein's little black book - the bridge
Turville.
Anonymous
3 May 2020 at 16:47
writes -
THE HAMLET OF TURVILLE, IN BUCKINGHAMSHIRE – BRINGING TOGETHER THE BOUVIER-RADZIWILLS, GETTYS, SAINSBURYS, ROTHSCHILDS, MAXWELLS, and FORDS.
Turville Grange is in Turville, Buckinghamshire, a hamlet with a population of 100.
The estate is still owned by Kathleen (albeit she is now incapacitated and presumably no longer visits Turville from her main residence in Palm Beach).
Anna Christina daughter of Her Serene Highness Princess Caroline Radziwill.
[19]
[20]
[21]
The Fords had bought the estate in Turville from Prince Stanislaw Radziwill and Caroline Lee Bouvier Radziwill (aka Princess Lee Radziwill), whose daughter in law, CAROLE RADZIWILL, is in
Jeffrey Epstein's's Black Book.
Anthony Radziwill at Turville Grange.
The Fords' close neighbours and friends in Turville were LORD DAVID
SAINSBURY
OF TURVILLE, his wife SUSIE SAINSBURY and their daughters Clare, Anya and Francesca Sainsbury.
Lord David Sainsbury is a patron of Tory Friends of Israel. Lord David's cousin, Sir Tim Sainsbury, is the former President of Tory Friends of Israel.
Sir Tim Sainsbury's daughter
Camilla
was married to Shaun Woodward.
Sarah Caplin, a co-founder of Childline, is married to Nick Ross.
More than one of the above is in
Jeffrey Epstein's's Black Book
.
Daily Mail editor Geordie Greig with Ghislaine Maxwell
The Fords' other neighbour in Turville was Sir John Paul Getty’s widow VICTORIA GETTY, who is friends with Geordie Greig, a close friend of Ghislaine Maxwell, and whose step-son, businessman
MARK GETTY
, attended the University of Oxford at the same time as Ghislaine Maxwell and is in her Black Book.
The hamlet of Turville, in Buckinghamshire, has brought together the top Anglo dynasties, including the Sainsburys and the Rothschilds, with the top American dynasties, including the Bouvier-Radziwills, the Gettys and the Fords.
When
Robert Maxwell
became the MP for Buckingham, he was placing the Maxwells AT THE GEOGRAPHICAL CENTRE of the top Anglo-American and Zionist 'Power Families' in Britain.
JR@JamesRusbridger
·
4h
STOWE Wallersteiner, G'laine, Fergie HHH
OXFORD Maxwells, Emmy Tayler
WITNEY/CHIP NORT Camerons, Freuds, Bamfords
TURVILLE Sainsburys, Gettys, Mortimers (Laud)
SONNING Geller, May
CLIVEDEN Astors, Livingstones, Thurso
CHAMPNEYS Savile, Purdews
ASCOTT-EYTHROPE-WADDESDON Rothschilds
Derek Laud, who is gay, became the first and only black master of foxhounds when he took that role with New Forest Foxhounds in 1999. Derek Laud with Anne (left) and Cicely Meehan, the spinster sisters who gave Derek Laud a home. Cicely Meehan was a child psychologist. One Saturday, Anne drove young Derek to the house of 'a very grand lady ... who bore a striking resemblance to Mrs Thatcher'. Derek Laud is a long standing family friend of Samantha Cameron's family (Astors) and a personal friend of David Cameron and attended their wedding at Ginge, in Oxfordshire.
(
Derek Laud ran a Pimlico PR agency called Ludgate Communications. Allegedly Ludgate Communications supplied children from children's care homes to top Members of Parliament
.)
Another famous resident of tiny TURVILLE was the barrister, playwright and author SIR JOHN MORTIMER QC, who died in 2009.
Mortimer was born in Hampstead.
Writing last year (2019) in The Oldie, his surviving wife, Penny Mortimer, said: "We spent forty years together, mostly at Turville Heath, his childhood home in the Chilterns".
Penny Mortimer accompanied
DEREK LAUD
and Camilla Parker-Bowles on a holiday in Tuscany, according to a report of 30 May 2005 in The Sun.
The report quoted a friend of Camilla as saying:
"Camilla regards Derek and Penny as among her very best friends - which is why she went on holiday with them."
Sir John Mortimer was a patron of Burma Campaign UK.
The current patrons of Burma Campain UK include Lord David Steel, the Rt Hon Michael Howard QC, Gordon Brown and Baroness Helena Kennedy QC.
Supporters include Dame Esther Rantzen and Joanna Lumley.
TOP CONSERVATIVES - Aangirfan
https://www.theoldie.co.uk/blog/a-boy-at-heart /
https://forums.richieallen.co.uk/showthread.php?tid=1182
Ghislaine Maxwell.
Jimmy Savile,
Prince Charles
, Edwina Currie,
Esther Rantzen
, Nicholas Fairbairn, Sarah Caplin, Jill Dando, Jon Roseman, Nick Ross, Greville Janner, Leon Brittan, Geoffrey Dickens, Cliff Richard, Gideon Benaim, Victor Mishcon, Max Clifford, Shirley Porter, Robert Davis, Simon Milton, Miles Young, Alan Bradley, Julian Lewis, Gordon Anglesea, Peter Lilley, Gillian Shephard, Lord Mandelson,
Jeffrey Epstein
, Matthew Freud, Clement Freud, Margaret Hodge, Philip Martin Edmonds, Joe Caluori, William Hague, Malcolm Rifkind, Keith Vaz, John Bercow, Lord Janner, Cyril Smith, Alex Carlile, Alison Saunders, Paul Boateng, Michael Carroll, Michael Beloff, Daniel Finkelstein, Gerald Ronson.
Source
Posted by
Anon
at
03:00
No comments:
Email This
BlogThis!
Share to Twitter
Share to Facebook
Share to Pinterest
Labels:
Buckinghamshire
,
De Rothschild
,
Epstein
,
Ford
,
Getty
,
Laud
,
Radziwill
,
Sainsbury
,
Turville
Older Posts
Home
Subscribe to:
Posts (Atom)
About Me
Anon
View my complete profile
Blog Archive
▼
2020
(139)
▼
May
(21)
KATHLEEN FORD, TURVILLE, EPSTEIN
CORONAVIRUS - 'ILLEGAL LOCKDOWN'
JULIAN HANKINSON
RANDOLPH STEWART
CORONAVIRUS SCANDAL
CORONAVIRUS - BEHAVIOUR MODIFICATION
CORONAVIRUS CRIMINAL CON
CORONAVIRUS - CRIMINAL CONSPIRACY - PROTESTS
CORONAVIRUS SCAM
CORONAVIRUS HOAX
CORONAVIRUS FRAUD; MICHIGAN; PENNSYLVANIA; EPSTEIN...
SWISS DOCTOR THOMAS BINDER - CORONAVIRUS
CORONAVIRUS - HIDDEN AGENDA
13 YEAR OLD ISMAEL - CORONAVIRUS; MURDERS
CORONAVIRUS CONSPIRACY - part 2
CORONAVIRUS CONSPIRACY
CORONAVIRUS FALSE FLAG - Part 2
CORONAVIRUS FALSE FLAG - Part 1
CORONAVIRUS (COVID 19) Part 2
CORONAVIRUS (COVID 19) Part 1
LINKS
►
April
(9)
►
March
(16)
►
February
(46)
►
January
(47)
►
2019
(375)
►
December
(54)
►
November
(27)
►
October
(32)
►
September
(33)
►
August
(31)
►
July
(38)
►
June
(35)
►
May
(22)
►
April
(19)
►
March
(34)
►
February
(24)
►
January
(26)
►
2018
(439)
►
December
(10)
►
November
(17)
►
October
(34)
►
September
(41)
►
August
(31)
►
July
(15)
►
June
(62)
►
May
(40)
►
April
(53)
►
March
(43)
►
February
(33)
►
January
(60)
►
2017
(458)
►
December
(39)
►
November
(39)
►
October
(35)
►
September
(42)
►
August
(24)
►
July
(48)
►
June
(51)
►
May
(31)
►
April
(29)
►
March
(38)
►
February
(40)
►
January
(42)
►
2016
(547)
►
December
(45)
►
November
(31)
►
October
(48)
►
September
(26)
►
August
(47)
►
July
(30)
►
June
(50)
►
May
(38)
►
April
(61)
►
March
(43)
►
February
(62)
►
January
(66)
►
2015
(759)
►
December
(71)
►
November
(55)
►
October
(67)
►
September
(72)
►
August
(58)
►
July
(61)
►
June
(70)
►
May
(54)
►
April
(62)
►
March
(66)
►
February
(50)
►
January
(73)
►
2014
(589)
►
December
(69)
►
November
(69)
►
October
(51)
►
September
(69)
►
August
(82)
►
July
(68)
►
June
(58)
►
May
(64)
►
April
(59)